<div class="container mt-5">

  <div class="card shadow p-4">

    <h1 class="text-center mb-4">
      Mini Games
    </h1>

    <h3 class="mb-3">
      Leaderboard
    </h3>

    <h3 class="mb-3">Leaderboard</h3>

    <table class="table table-striped">

      <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Score</th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let player of leaderboard; *et i = index">

          <td>{{ i + 1}}</td>
          <td>{{ player.name }}</td>
          <td>{{ player.value}}</td>

        </tr>

      </tbody>

      </table>

      <div class="d-grid gap-2 mt-*">

        <button class="btn btn-primary"
                (click)="signIn()">
          Sign In
          </button>

          <button class="btn btn-success"
                  (click)="CreateAccount()">
            Create Account
          </button>

      </div>
  </div>

</div>
